<div class="container">
  <div class="row">
    <div class="col-xs-12"></div>
      <%= image_tag "universe_photo.png", {class: "img-circle", id: "universe_photo"}%>
      <div class="row">
        <div class="col-xs-7">
        </div>
        <div class="col-xs-5">
        <h1><%=@universe.name%></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">Theme1</div>
    <div class="col-xs-2">Theme2</div>
    <div class="col-xs-2">Theme3</div>
    <div class="col-xs-2">Theme4</div>
    <div class="col-xs-2">Theme5</div>
    <div class="col-xs-2">Theme6</div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <%= image_tag "artist_photo.png" %>
      </div>
      <div class="col-xs-9">
        <div class="row">
          <div class="col-xs-12"><%= @universe.profile.name%>
            <div class="row">
              <div class="col-xs-8"><%=@universe.profile.biography%></div>
              <div class="col-xs-4"><a href="#" class="btn-medium">Contact</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">Products</div>
  </div>
</div>
